@use '../../styles/mixins.module';

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.hide-label {
  display: none;
}

.status, .label {
  @include mixins.transition(color);
}
