@use '../../styles/colors.module';
@use '../../styles/mixins.module';

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.hide-label,
.hide-assistive-text {
  display: none;
}

.status,
.label {
  @include mixins.transition(color);
}

.required-star {
  color: colors.getColor(error-600);
}

.assistiveText {
  margin-left: 0.75rem;
}