@use '../../styles/colors.module';
@use '../../styles/mixins.module';

.outline {
  @each $color, $_ in colors.$config {
    &--#{$color} {
      border-color: colors.getColor($color);
    }
  }
}

.input {
  @include mixins.transition(border-color);
  padding: 0.75rem;
  border-radius: 4rem;
  border-style: solid;
  border-width: 2px;
  background-color: 'neutral-50';

  &:disabled {
    // TODO: 'neutral-50' with 38% opacity for Disabled State on entire component
    border-color: colors.getColor(neutral-50);
    cursor: not-allowed;
  }

  &:hover {
    border-color: colors.getColor(neutral-300);
  }
  
  &:active {

    border-color: colors.getColor(primary-500);
  }
  
  &:focus {
    outline: none;
    border-color: colors.getColor(primary-500);
  }
}
