@use '../../styles/colors.module';
@use '../../styles/mixins.module';

.outline {
  @each $color, $_ in colors.$config {
    &--#{$color} {
      border-color: colors.getColor($color);
    }
  }
}

.noBorder {
  border: none;
}

.field {
  @include mixins.transition(border-color background-color);
  padding: 0.5rem 0.75rem;
  border-radius: 1.25rem;
  resize: vertical;

  background-color: colors.getColor(neutral-50, null, 0.18);
  color: colors.getColor(neutral-50);

  &:focus {
    outline: none;
    background-color: colors.getColor(neutral-50, null, 0.5);
  }

  &.success {
    border-color: colors.getColor(success);
  }

  &.error {
    border-color: colors.getColor(error-500);
  }

  &:disabled {
    background-color: colors.getColor(neutral-50, null, 0.08);
    color: colors.getColor(neutral-50, null, 0.38);
    border-color: colors.getColor(disabled-dark);
    cursor: not-allowed;
  }
}

.text {
  line-height: 1;
  margin: 0;
  text-align: right;
}
