@use '../../styles/colors.module';
@use '../../styles/mixins.module';

.outline {
  @each $color, $_ in colors.$config {
    &--#{$color} {
      border-color: colors.getColor($color);
    }
  }
}

.field {
  @include mixins.transition(border-color);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0.125rem;
  resize: vertical;

  &.success {
    border-color: colors.getColor(success);
  }

  &.error {
    border-color: colors.getColor(error);
  }

  &:disabled {
    border-color: colors.getColor(disabled-dark);
  }
}

.text {
  line-height: 1;
  margin: 0;
  text-align: right;
}
