// TODO: Replace with actual theme when given designs
$config: (
  primary: (
    color: red,
  ),
  success: (
    color: #0f893b,
  ),
  error: (
    color: #af0029,
  ),
  gray-50: (
    color: #f7f8f9,
  ),
  gray-100: (
    color: #e0e0e0,
  ),
  gray: (
    color: #757575,
  )
);

@function _rgb($color) {
  @return #{red($color)}, #{green($color)}, #{blue($color)};
}

@mixin init {
  @each $color, $info in $config {
    --#{$color}: #{_rgb(map-get($info, color))};
  }
}

$_modifer-map: (
  hover: h,
  active: a,
);
@function getColor($color, $modifier: null, $alpha: 1) {
  $var: $color;
  @if $modifier {
    $var: #{$var}-#{map-get($_modifer-map, $modifier)};
  }

  @return rgba(var(--#{$var}), $alpha);
}
