$config: (
  // Neutrals
  neutral-50:
    (
      color: #F3F6F6
    ),
  neutral-100:
    (
      color: #E2E7E7
    ),
  neutral-200:
    (
      color: #D0D9D9
    ),
  neutral-300:
    (
      color: #BECBCB
    ),
  neutral-400:
    (
      color: #ACBCBC
    ),
  neutral-500:
    (
      color: #89A0A0
    ),
  neutral-600:
    (
      color: #637B7B
    ),
  neutral-700:
    (
      color: #425252
    ),
  neutral-800:
    (
      color: #323E3E
    ),
  neutral-900:
    (
      color: #212929
    ),
  primary-50:
    (
      color: #E6FAF9
    ),
  primary-200:
    (
      color: #A9EEEB
    ),
  primary-500:
    (
      color: #00948C
    ),
  primary-600:
    (
      color: #00887E
    ),
  primary-700:
    (
      color: #00786D
    ),
  warning-50:
    (
      color: #FFFBEB
    ),
  warning-200:
    (
      color: #FDE68A
    ),
  warning-400:
    (
      color: #FBBF24
    ),
  error-500:
    (
      color: #EF4444
    ),
  error-600:
    (
      color: #DC2626
    ),
  shades-0:
    (
      color: #FFFFFF
    ),
  shades-100:
    (
      color: #000000
    ),
  'grey': (
    color: #757575,
  ),
  copy-dark: (
    color: #0b3648,
  ),
  copy-light: (
    color: #ffffff,
  ),
  success: (
    color: #0f893b,
  ),
  disabled-light: (
    color: #f7f8f9,
  ),
  disabled-dark: (
    color: #e0e0e0,
  )
);

$_modifer-map: (
  hover: h,
  active: a,
);

@function _rgb($color) {
  @return #{red($color)}, #{green($color)}, #{blue($color)};
}

@function _getVar($color, $modifier: null) {
  $var: $color;
  @if $modifier {
    $var: #{$var}-#{map-get($_modifer-map, $modifier)};
  }
  @return --#{$var};
}

@mixin init {
  @each $color, $info in $config {
    $c: map-get($info, color);
    #{_getVar($color)}: #{_rgb($c)};
    #{_getVar($color, hover)}: #{_rgb($c)};
    #{_getVar($color, active)}: #{_rgb($c)};
    #{_getVar($color, focus)}: #{_rgb($c)};
    #{_getVar($color, disabled)}: #{_rgb(darken($c, 38%))};
  }
}

@function getColor($color, $modifier: null, $alpha: 1) {
  @return rgba(var(_getVar($color, $modifier)), $alpha);
}
