$config: (
  // Teal
  primary-1: (
    color: #23B5AF,
  ),
  // Light blue
  primary-2: (
    color: #DEF9F9,
  ),
  // Navy
  primary-3: (
    color: #08566B,
  ),
  // Light Yellow
  primary-4: (
    color: #FFE299,
  ),
  // Peach
  primary-5: (
    color: #CE9489,
  ),
  // Sky Blue
  secondary-1: (
    color: #BDF2FE,
  ),
  // Orange
  secondary-2: (
    color: #FCAF55,
  ),
  // Bronze
  secondary-3: (
    color: #D9A56B,
  ),
  // Strawberry
  secondary-4: (
    color: #CA6969,
  ),
  // Light Purple
  secondary-5: (
    color: #D6CFE2,
  ),
  copy-dark: (
    color: #08566B,
  ),
  copy-light: (
    color: #FFFFFF,
  ),
  success: (
    color: #28a745,
  ),
  error: (
    color: #dc3545,
  ),
);

$_modifer-map: (
  hover: h,
  active: a,
);

@function _rgb($color) {
  @return #{red($color)}, #{green($color)}, #{blue($color)};
}

@function _getVar($color, $modifier: null) {
  $var: $color;
  @if $modifier {
    $var: #{$var}-#{map-get($_modifer-map, $modifier)};
  }
  @return --#{$var};
}

@mixin init {
  @each $color, $info in $config {
    $c: map-get($info, color);
    #{_getVar($color)}: #{_rgb($c)};
    #{_getVar($color, hover)}: #{_rgb(darken($c, 0.06))};
    #{_getVar($color, active)}: #{_rgb(darken($c, 0.12))};
  }
}

@function getColor($color, $modifier: null, $alpha: 1) {
  @return rgba(var(_getVar($color, $modifier)), $alpha);
}
