// Example config, change for the year
$fonts: (
  test: (
    (
      font-weight: normal,
      font-style: normal,
      src: (
        url('https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wXiWtFCc.woff2')
          format('woff2'),
      ),
    ),
  ),
);

@mixin init {
  @each $font, $configs in $fonts {
    @each $config in $configs {
      @font-face {
        @each $prop, $attr in $config {
          #{$prop}: $attr;
        }
        font-family: #{$font};
        font-display: swap;
      }
    }
  }
}
