@use './vars.module';

@function nullish($prop, $props...) {
  @if length($props) and $prop == null {
    @return nullish($props...);
  } @else {
    @return $prop;
  }
}

@mixin withMotion {
  @media (prefers-reduced-motion: no-preference) {
    :global(.animate) & {
      @content;
    }
  }
}

@mixin transition($props: (), $speed: normal, $delay: 0ms) {
  $res: ();
  @each $prop in $props {
    @if type-of($prop) == 'map' {
      @if map-get($prop, 'prop') == null {
        @error "Object notation for a property in mixins.transition should have a prop attribute";
      }
      $speed: nullish(map-get($prop, speed), $speed);
      $delay: nullish(map-get($prop, delay), $delay);
      $prop: nullish(map-get($prop, prop), $props);
    }

    $res: append(
      $res,
      $prop map-get(vars.$speeds, $speed) ease-in-out $delay,
      $separator: comma
    );
  }

  @include withMotion {
    transition: $res;
  }
}
