@use '../../styles/colors.module';
@use '../../styles/fonts.module';

.text {
  font-family: 'Inter', serif;
}

.type {
  @each $tag, $config in fonts.$config {
    &--#{$tag} {
      @each $prop, $attr in $config {
        #{$prop}: #{$attr};
      }
    }
  }
}

.color {
  @each $color, $_ in colors.$config {
    &--#{$color} {
      color: colors.getColor($color);
    }
  }
}

.with-weight {
  font-weight: var(--typo-weight);
}
