@use '../../styles/colors.module';
@use '../../styles/fonts.module';

.text {
  font-family: "Open Sans", serif;
}

.type {
  @each $tag, $config in fonts.$config {
    &--#{$tag} {
      @each $prop, $attr in $config {
        #{$prop}: #{$attr};
      }
    }
  }
}

.with-weight {
  font-weight: var(--typo-weight);
}

.with-color {
  color: rgb(var(--typo-color));
}
