@use '../../styles/colors.module';
@use '../../styles/mixins.module';

.container {
  position: relative;
  overflow: visible;
  display: flex;

  &.show {
    z-index: 1;
  }
}

.color {
  @each $color, $_ in colors.$config {
    &--#{$color} {
      background-color: colors.getColor($color);
    }
  }
}

$borderRadius: 1.5rem;

.custom {
  @include mixins.transition(border-color);
  //border: 2px solid colors.getColor(primary-700);
  border-radius: $borderRadius;
  width: 100%;

  &.error {
    border-color: colors.getColor(error-500);
  }

  &.success {
    border-color: colors.getColor(success);
  }

  &.disabled {
    border-color: colors.getColor(grey);
  }
}

.display {
  position: relative;
}

.input {
  background: colors.getColor(neutral-50, null, 0.18);
  padding: 0.75rem 2.5rem 0.75rem 0.75rem;
  box-sizing: border-box;
  border: none;
  width: 100%;

  outline: none;

  color: colors.getColor(neutral-50);

  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;

  &:disabled {
    cursor: not-allowed;
    color: colors.getColor(neutral-50, null, 0.38);
    background-color: colors.getColor(neutral-50, null, 0.08);
  }

  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.caret {
  @include mixins.transition(transform color);
  color: colors.getColor(neutral-50);
  inset: 0 0.75rem 0 auto;
  position: absolute;
  pointer-events: none;
  margin: auto;
  width: 1rem;
  height: auto;
  transform: rotate(180deg);

  &.show {
    transform: rotate(0deg);
  }

  .disabled & {
    color: colors.getColor(grey);
  }
}

.menuContainer {
  position: absolute;
  width: 100%;

  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.menu {
  @include mixins.transition(max-height);
  background: colors.getColor(neutral-50, null, 0.25);
  list-style-type: none;
  border-top: none;
  overflow: auto;
  max-height: 0;
  padding: 0;
  margin: 0;

  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;

  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c5c5c5;
  }

  &.show {
    max-height: 10rem;
  }

}

.item {
  @include mixins.transition(background-color);
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background: none;
  text-align: start;
  border: none;
  width: 100%;

  color: colors.getColor(copy-light);

  &:hover,
  &:focus {
    background-color: colors.getColor(neutral-50, $alpha: 0.38);
  }

  &:active,
  &.selected {
    background-color: colors.getColor(neutral-50, $alpha: 0.5);
  }
}
