@use '../../styles/mixins.module';
@use '../../styles/colors.module';

.container {
  @include mixins.transition(background-color);
  background-color: colors.getColor(primary-2);
  grid-template-columns: 1.75rem auto;
  color: colors.getColor(primary-3);
  border-radius: 1.25rem;
  padding: 1rem 1.5rem;
  align-items: center;
  position: relative;
  grid-gap: 1.25rem;
  display: grid;

  &:hover {
    background-color: colors.getColor(primary-2, hover);
  }
}

.disabled {
  background-color: colors.getColor(disabled-light);
  color: colors.getColor(grey);

  &:hover {
    background-color: colors.getColor(disabled-light);
  }
}

.input {
  position: absolute;
  cursor: pointer;
  height: 100%;
  margin: auto;
  width: 100%;
  opacity: 0;
  inset: 0;

  &:disabled {
    cursor: not-allowed;
  }
}

.icon {
  @include mixins.transition(color);
  height: auto;
  width: 100%;
}

.linkLike {
  @include mixins.transition(color);
  color: colors.getColor(primary-1);
  text-decoration: underline;
  .disabled & {
    color: colors.getColor(grey);
  }
}

.label {
  @include mixins.transition(color);
  margin: 0;
}

.text {
  @include mixins.transition(color);
  color: colors.getColor(copy-dark);
  margin: 0;

  .disabled & {
    color: colors.getColor(grey);
  }
}
