@use '../../styles/colors.module';
@use '../../styles/mixins.module';

.link {
    display: inline-block;
    padding: 0 0.5rem;
    border-radius: 64px;
    color: colors.getColor(warning-400);
    @include mixins.transition(background-color);

    &:hover {
        background-color: colors.getColor(warning-50, null, 0.12);
    }

    &:focus,
    &:active {
        background-color: colors.getColor(warning-200, null, 0.18)
    }

    &.disabledLink {
        pointer-events: none;
        opacity: 0.38;
        background-color: transparent;

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
        }

    }

}

